.card{
    border: 1px solid rgb(129, 129, 129);
    background-color: rgb(15, 15, 15, 10);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(12, 12, 12, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
} 

.card:hover {
    transform: scale(1.05)
}

.card .card-image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .card-title{
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: white;

}

.card .card-description{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;

}
.title{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
}
.join-btn {
    background-color: rgb(32, 177, 255);
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.join-btn:hover { transform: scale(1.25);}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Optional: Set a specific height if needed */
  }
  
  